API_ID=your_api_id
API_HASH=your_api_hash
BOT_TOKEN=your_bot_token
DB_URL=mongodb+srv://user:pass@cluster.mongodb.net/dbname
DB_NAME=NovaSharingbot
LOG_CHANNEL=-100123456789
DB_CHANNEL=-100987654321
OWNER_ID=123456789
SHORTENER_URL=https://gplinks.com
SHORTENER_API=your_api_key
FORCE_SUB_CHANNEL=-100123456789
AUTO_DELETE_TIME=600
